<h1>demo</h1>
<div id="sendevent">hey</div>

<script>
    /*
var event = document.createEvent('Event');
event.initEvent('build', true, true);

let elem = document.getElementById("sendevent")
// Listen for the event.
elem.addEventListener('build', function (e) {
  // e.target matches elem
  console.log("e ",e)
}, false);

// target can be any Element or other EventTarget.
elem.dispatchEvent(event);
*/


var cevent = new CustomEvent('buildce', { detail: "divine"});

let elem = document.getElementById("sendevent")
elem.addEventListener('buildce', function (e) {
  // e.target matches elem
  console.log("e ",e)
  console.log("e.detail ",e.detail)
}, false);
elem.dispatchEvent(cevent);

</script>